.container {
  max-width: 800px;
  min-width: 280px;
  margin: 30px auto 0;
  background: rgba($color: #eddcd2, $alpha: 1);
  height: max-content;
  border-radius: 2em;
  padding: 20px 35px;
  h1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    margin-top: 25px;
    background: url('../assets/pen.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  .list-item {
    color: rgba($color: #000000, $alpha: 0.6);
    line-height: 2.6em;
    font-size: 1.3em;
    div {
      display: flex;
      justify-content: space-between;
      .buttons {
        margin-top: 0.35em;
        justify-content: space-between;
        gap: 8px;
      }
    }
  }
}

.todo-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  input {
    width: 100%;
    margin-right: 15px;
    font-size: 1.3em;
  }
  input::placeholder {
    color: rgba($color: #000000, $alpha: 0.6);
  }
}

.item-title {
  margin-right: 10px;
  word-wrap: break-word;
  overflow: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width:550px) {
  .container {
    h1 {
      background: url('../assets/mini-pen.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }
}

@media screen and (max-width:376px) {
  .container {
    h1 {
      background: none;
    }
  }
}

.mat-tab-label-content {
  font-size: 1.25em;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff8a65;
}

.mat-tab-group {
  margin: 12px 0 0;
}