<div class="container">
  <h1>ToDo List</h1>

  <form class="todo-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input type="text" id="title" name="title" ngModel placeholder="Write your todo">
    <div>
      <button type="submit" class="btn-floating waves-effect waves-light deep-orange lighten-2">
        <i class="material-icons">add</i>
      </button>
    </div>
  </form>
  <mat-tab-group>
    <mat-tab label="Todo all"> 
      <ul class="todo-list">
        <li class="list-item" *ngFor="let todo of todos">
          <div *ngIf="!this.todo.isComplete">
            <div class="item-title">{{this.todo.title}}</div>
            <div class="buttons">
              <button (click)="onComplete(this.todo.id)" class="btn-floating waves-effect waves-light teal accent-4">
                <i class="material-icons">check</i>
              </button>
              <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light brown darken-2">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
        </li>
        <li class="list-item" *ngFor="let todo of todos">
          <div *ngIf="this.todo.isComplete">
            <div class="item-title completed">{{this.todo.title}}</div>
            <div>
              <div class="buttons">
                <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light brown darken-2">
                  <i class="material-icons">delete</i>
                </button>
              </div>  
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Not complete">
      <ul class="todo-list">
        <li class="list-item" *ngFor="let todo of todos">
          <div *ngIf="!this.todo.isComplete">
            <div class="item-title">{{this.todo.title}}</div>
            <div class="buttons">
              <button (click)="onComplete(this.todo.id)" class="btn-floating waves-effect waves-light teal accent-4">
                <i class="material-icons">check</i>
              </button>
              <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light brown darken-2">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Completed List">
      <ul class="todo-list">
        <li class="list-item" *ngFor="let todo of todos">
          <div *ngIf="this.todo.isComplete">
            <div class="item-title completed">{{this.todo.title}}</div>
            <div>
              <div class="buttons">
                <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light brown darken-2">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div>