@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&display=swap');

body {
  background-color: rgba($color: #9f8475, $alpha: 1.0);
  width: 100%;
  height: 100vh;
  min-width: 320px;
  color: rgba($color: #000000, $alpha: 1);
}

.completed {
  text-decoration: line-through;
  text-decoration-color: rgba($color: #000000, $alpha: 0.9);
  color: #a5a58d;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
